<section class="mt-5">
  <table class="table table-md mt-2 w-full">
    <thead>
      <tr>
        <th>#</th>
        <th>Icono</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Población</th>
        <th></th>
      </tr>
    </thead>
    <!-- <tbody>
      <tr>
        <td>1</td>
        <td>
          <img src="https://flagcdn.com/w320/ar.png" alt="Argentina" class="w-10" />
        </td>
        <td>
          <img src="https://flagcdn.com/w320/ar.png" alt="Argentina" class="w-10" />
        </td>
        <td>Argentina</td>
        <td>Buenos Aires</td>
        <td>45.376.763</td>
        <td>
          <button class="btn btn-sm btn-primary">Ver más</button>
        </td>
      </tr>
    </tbody> -->
  </table>
</section>